.flag {
  flex-basis: 6 / 12 * 100%;
}

.country-details {
  flex-basis: 6 / 12 * 100%;
}

.country-info {
    flex-basis: 6 / 12 * 100%;
}

@media (max-width: 576px) {
  .flag {
    flex-basis: 100%;
  }

  .country-details {
    flex-basis: 100%;
  }

  .country-info {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .flag {
    flex-basis: 100%;
  }

  .country-details {
    flex-basis: 100%;
  }

  .country-info {
    flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .flag {
    flex-basis: 6 / 12 * 100%;
  }

  .country-details {
    flex-basis: 6 / 12 * 100%;
  }

  .country-info {
    flex-basis: 100%;
  }
}
