<div class="dropdown relative">
    <div class="dropdown__input" (click)="showDropEvent()" [ngClass]="showActive ? 'active' : ''">Filter By Region </div>
    <ul class="dropdown__list" [ngClass]="showDrop ? 'show' : ''">
        <li>All</li>
        <li>Afghanistan</li>
        <li>Åland Islands</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li>
        <li>Albania</li> 
    </ul>
</div>