
.countries {
  // flex-basis: (4 / 12 * 100%) - 2.4;
  flex-basis:33.33%;
  padding:2rem;
}
.countries-container{
  margin-top:1rem;
}
.flex-row{
  display: flex;
  flex-wrap: wrap;
  margin-left:-2rem;
  margin-right:-2rem;
}
.max-830{
  max-width:830px;
}
@media (max-width: 650px) {
  .countries {
    // flex-basis: (6 / 12 * 100%) - 2;
    flex-basis:50%;
  }
}
@media (max-width: 576px) {
  .countries {
    flex-basis: 100%;
  }
  
}
/*@media (max-width: 768px) {
  .countries {
    flex-basis: 100%;
  }
}*/

/*@media (max-width: 992px) {
  .countries {
    flex-basis: 6 / 12 * 100%;
  }
}*/
