.countries {
  flex-basis: 4 / 12 * 100%;
}

@media (max-width: 576px) {
  .countries {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .countries {
    flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .countries {
    flex-basis: 6 / 12 * 100%;
  }
}
