<div class="card relative dark-mode-bg">
    <a [routerLink]="country.cioc" class="anchor-no-style">
        <div class="card__image_holder">
            <img class="card__image" [src]="country.flags.svg">
        </div>
        <div class="card__details">
        <h2>{{ country.name.common }}</h2>
            <div>Population: <i class="font-light">{{ country.population }}</i></div>
            <div>Region: <i class="font-light">{{ country.region }}</i></div>
            <div>Capital: <i class="font-light">{{ country.capital }}</i></div>
        </div>
    </a>
</div>